.x-tag-container {
    display: inline-block;
    width: fit-content;
    height: 20px;
    line-height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0px 4px;
    background-color: beige;
}

span {
    display: inline-block;
}

.x-tag-icon {
    font-size: 12px;
    padding: 2px 2px;
    cursor: pointer;
}