.x-switch-container {
    display: inline-block;
    position: relative;
    min-height: 22px;
    min-width: 49px;
    line-height: 20px;
    background-color: gray;
    border-radius: 12px;
    transition: all 0.2s;
    cursor: pointer;
}

.x-swich-inner-circle {
    display: inline-block;
    position: absolute;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
}

.x-swich-inner-text {
    display: inline-block;
    position: absolute;
    font-size: 6px;
    color: #fff;
    background-color: transparent;
}