.x-circle-close-icon-container {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 8px;
    background-color: #d0cdcd;
    border-radius: 50%;
    cursor: pointer;
}