.x-tooltip-container {
    display: inline-block;
    position: relative;
}

.x-tooltip-text {
    display: inline-block;
    position: absolute;
    bottom: 22px;
    z-index: 9999;
    height: 20px;
    min-width: 20px;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #cccbcb;
}

.x-tooltip-arrow {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: 50%;
    z-index: 9999;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top: 5px solid #cccbcb;
}

span {
    display: inline-block;
}